{
  "singleQuote": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["plms/*.yaml"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
