registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm
@adp:registry=https://arm.seli.gic.ericsson.se/artifactory/api/npm/proj-adp-nodejs-chassis-library-npm-local/
legacy-peer-deps=true
//arm.seli.gic.ericsson.se/:_auth=${ARM_NPM_TOKEN}